html {
  height: 100%;
}

body {
  margin: 0;
}

.bg {
  animation: slide 15s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgb(54, 54, 54)50%, rgb(79, 79, 79)50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 13s;
}

.bg3 {
  animation-duration: 11s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
